#######################################################################################
#                                                                                     #
#                                  General Settings                                   #
#                                                                                     #
#######################################################################################

# token for your telegram bot (obtained from botfather)
BOT_TOKEN=YOUR_TOKEN_HERE

# language used by the bot, supported languages can be found here:
# https://github.com/tjtanjin/simple-media-converter/tree/master/assets/lang
LANGUAGE=en-US

# time in seconds before an interaction timeout
# (i.e. no conversion response from user so uploaded media is removed)
INTERACTION_TIMEOUT_DURATION=180

# supported input image types
# note that all images sent as photos in telegram are received as jpg files
# hence, the image input types only restrict images sent as files
IMAGE_INPUT_TYPES=["png", "jpg", "jpeg", "tiff", "webp", "heif", "ico"]

# supported input video types
VIDEO_INPUT_TYPES=["gif", "avi", "webm", "mp4", "flv", "mov", "mkv", "wmv", "mpg", "mpeg"]

# supported output image types
IMAGE_OUTPUT_TYPES=["png", "jpg", "tiff", "webp", "pdf", "ico"]

# supported output video types
VIDEO_OUTPUT_TYPES=["gif", "avi", "webm", "mp4", "flv", "mov", "mkv", "wmv", "mpg"]

# supported input sticker types
STICKER_INPUT_TYPES=["tgs"]

# sticker output types are determined from supported image/video output types

#######################################################################################
#                                                                                     #
#                                API Service Settings                                 #
#                                                                                     #
#######################################################################################

# ignore this section if you do not intend to make an api call after a successful conversion
# this is a niche configuration for myself to count and share number of files converted
# note that you will need to have your own api setup if you wish to use this feature

# set to true to use
API_SERVICE_ENABLED=false

# endpoint for making the api call (only supports POST request)
API_ENDPOINT=YOUR API ENDPOINT HERE

# headers to include in the request e.g. {"content-type": "application/json"}
API_HEADERS={}

# body to include in the request e.g. {"counter_value": 1}
API_BODY={}

